<!-- <mat-expansion-panel hideToggle>
    <mat-expansion-panel-header>
        <mat-panel-title>
            {{ team.teamName }}
        </mat-panel-title>
        <mat-panel-description>
            {{ team.teamType }}
        </mat-panel-description>
        <mat-panel-description>
            Made for memeing around
        </mat-panel-description>
    </mat-expansion-panel-header>   
    <mat-tab-group>
        <mat-tab label="{{team.teamMember1}}"> 
            <mat-card>
                Sample data
            </mat-card>     
        </mat-tab>
        <mat-tab label="{{team.teamMember2}}">
            <mat-card>
                Sample data
            </mat-card>     
        </mat-tab>
        <mat-tab label="{{team.teamMember3}}">
            <mat-card>
                Sample data
            </mat-card>     
        </mat-tab>
        <mat-tab label="{{team.teamMember4}}">
            <mat-card>
                Sample data
            </mat-card>     
        </mat-tab>
      </mat-tab-group>
</mat-expansion-panel> -->