/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-panel-description.right-aligned {
    flex-grow: 0;
  }

/* Website Scroll */
::-webkit-scrollbar {
  width: 5px;
  }
  
  ::-webkit-scrollbar-track {
  background: #c7c7c7; 
  }
  
  ::-webkit-scrollbar-thumb {
  background: #888; 
  }
  
  ::-webkit-scrollbar-thumb:hover {
  background: #555;
  }